@font-face {
  font-family: crimsonpro;
  src: url(assets/fonts/CrimsonPro.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat.ttf);
}
@font-face {
  font-family: lora;
  src: url(assets/fonts/Lora.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat, system-ui,
    -apple-system, sans-serif;
}
body {
  background: #181719;
  color: white;
  padding: 30px;
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: white;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation h1 {
    text-align: center;
  font-size: 14px;
  width: 150px;
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid white;
}
.open-button, .close-button {
  background-color: #181719;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
}
.nav-open {
  display: flex;
}

.link-icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.navigation ul {
  background-color: #181719;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 600;
}
.nav-item {
  padding-bottom: 5px;
}
.active {
  border-bottom: white 1px solid;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

aside {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-in{
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.menu-off{
    animation-name: fadeOff;
    animation-duration: 0.3s;
}
aside h2 {
  font-family: lora;
  font-size: 36px;
  font-weight: 700;
  width: 100%;
}
aside p {
  width: 65%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.design-image {
  min-width: 360px;
  width: 85%;
  z-index: 100;
}

.creator-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #181719;
  position: relative;
  top: -50px;
  left: 60px;
  min-width: 250px;
  width: 45%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 200;
}
.identity {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.identity img {
  width: 40px;
  border-radius: 50%;
}
.creator {
  font-size: 12px;
}
.role {
  font-size: 10px;
  color: #828282;
}
.card-text {
  font-family: lora;
  font-size: 18px;
  font-weight: 700;
}
footer {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .navigation ul {
    position: unset;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: end;
    align-items: center;
  }

  .navigation h1 {
    width: 150px;
    height: max-content;
    display: block;
  }
  .btn {
    display: none;
  }

  .container {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  aside {
    align-self: center;
    margin-top: -50px;
    width: 40%;
  }

  aside h2 {
    font-size: 48px;
  }

  section {
    align-self: center;
    width: 60%;
  }
  .creator-card {
    width: 45%;
    top: -50px;
    left: 200px;
  }

  .creator {
    font-size: 14px;
  }
  .role {
    font-size: 12px;
  }
  .card-text {
    font-size: 24px;
  }
  section img {
    width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .creator {
    font-size: 12px;
  }
  .role {
    font-size: 10px;
  }
  .card-text {
    font-size: 18px;
  }
  .creator-card {
    left: 25%;
  }
}


 
  @keyframes fadeIn {
    0% {
        opacity: 0;
       }
       100% {
         opacity: 1;
       }
  }
  @keyframes fadeOff {
    0% {
        opacity: 1;
       }
       100% {
         opacity: 0;
       }
  }
  